*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: greenyellow; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45rem;
  background: red; }
  .header__logo {
    width: 5rem;
    height: 5rem;
    display: inline-block; }
  .header__form {
    display: inline-block;
    width: 60rem; }
    .header__form--description {
      height: 4.5rem;
      width: 100%;
      margin-bottom: 2rem; }
    .header__form--from {
      height: 4.5rem;
      float: left;
      width: 29rem;
      margin-bottom: 2rem; }
    .header__form--to {
      height: 4.5rem;
      float: right;
      width: 29rem;
      margin-bottom: 2rem; }
    .header__form--btn {
      text-align: center; }

.category__container {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.header__logo {
  border: 1px solid black; }

.header__form--description, .header__form--from, .header__form--to {
  letter-spacing: 3px;
  font-size: 1.7rem;
  font-weight: 300;
  border: 3px solid #3a79ff;
  border-radius: 4px;
  box-shadow: 0 0 10px #5aa7ffd0;
  padding-left: 2rem; }
  .header__form--description:focus, .header__form--from:focus, .header__form--to:focus {
    outline: none;
    border: 3px solid #393cff; }

.btn {
  float: none;
  border: none;
  border-radius: 100px;
  width: 11rem;
  height: 4rem;
  font-size: 1.5rem;
  color: #696969;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.category__container {
  background-color: aqua;
  border-top: 5px solid #ffffff;
  text-decoration: none; }
  .category__container:hover {
    background-color: aquamarine; }
  .category__container:last-child {
    border-bottom: 5px solid #ffffff; }

.category__title {
  text-transform: uppercase;
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 0 0 5px #3a79ff; }
